<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="common" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>

<script th:fragment="common" th:src="@{/static/cdn/jquery.min-3.3.1.js}" type="text/javascript"></script>
<link   th:fragment="common" th:href="@{/static/common/common-0.1.0.css}" rel="stylesheet" />
<script th:fragment="common" th:src="@{/static/common/common-0.1.0.js}" type="text/javascript"></script>



<script th:fragment="base" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/vue.min.js}"></script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/axios.min.js}"></script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/qs.js}"></script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/httpVueLoader.js}"></script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/terminal/demo/demo.js}"></script>
<link   th:fragment="base" rel="stylesheet" th:href="@{/static/terminal/demo/demo.css}">


<!-- page -->
<nav th:fragment="page" class="pagination blockTemplate">
	<ul>
		<li v-if="p.pageNumber != 1" @click="gotoPage(1)"><span>«</span></li>
		<li v-if="p.pageNumber - 2 >= 1" @click="gotoPage(p.pageNumber - 2)"><span>{{p.pageNumber - 2}}</span></li>
		<li v-if="p.pageNumber - 1 >= 1" @click="gotoPage(p.pageNumber - 1)"><span>{{p.pageNumber - 1}}</span></li>
		<li class="active"><span>{{p.pageNumber}}</span></li>
		<li v-if="p.pageNumber + 1 <= p.totalNum" @click="gotoPage(p.pageNumber + 1)"><span>{{p.pageNumber + 1}}</span></li>
		<li v-if="p.pageNumber + 2 <= p.totalNum" @click="gotoPage(p.pageNumber + 2)"><span>{{p.pageNumber + 2}}</span></li>
		<li v-if="p.pageNumber != p.totalNum" @click="gotoPage(p.totalNum)"><span>»</span></li>
	</ul>
	<select @change="gotoPage(1)" v-model="p.pageSize">
		<option value="3">3条</option><option value="10">10条</option><option value="50">50条</option>
	</select>
	<div>共<b>{{p.totalRows}}</b>条记录</div>
</nav>




<!-- 共用div -->
<div th:fragment="commonDiv">


<div id="loading"><loading v-if="showLoading"></loading></div>





</div>




















