<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="common" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>

<script th:fragment="common" th:src="@{/static/cdn/jquery.min-3.3.1.js}" type="text/javascript"></script>
<link   th:fragment="common" th:href="@{/static/common/common-0.1.0.css}" rel="stylesheet" />
<script th:fragment="common" th:src="@{/static/common/common-0.1.0.js}" type="text/javascript"></script>



<script th:fragment="base" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/vue.all.js}"></script>
<script th:fragment="base" type="text/javascript" th:src="@{/static/vue/common/v-common.js}"></script>
<link   th:fragment="base" rel="stylesheet" th:href="@{/static/vue/common/v-common.css}">


<!-- page -->
<nav th:fragment="page" class="pagination">
	<ul>
		<li v-if="page.pageNum != 1" @click="goto(1)"><span>«</span></li>
		<li v-if="page.pageNum - 2 >= 1" @click="goto(page.pageNum - 2)"><span>{{page.pageNum - 2}}</span></li>
		<li v-if="page.pageNum - 1 >= 1" @click="goto(page.pageNum - 1)"><span>{{page.pageNum - 1}}</span></li>
		<li class="active"><span>{{page.pageNum}}</span></li>
		<li v-if="page.pageNum + 1 <= page.totalNum" @click="goto(page.pageNum + 1)"><span>{{page.pageNum + 1}}</span></li>
		<li v-if="page.pageNum + 2 <= page.totalNum" @click="goto(page.pageNum + 2)"><span>{{page.pageNum + 2}}</span></li>
		<li v-if="page.pageNum != page.totalNum" @click="goto(page.totalNum)"><span>»</span></li>
	</ul>
	<select @change="goto(1)" v-model="page.pageSize">
		<option value="3">3条</option><option value="10">10条</option><option value="50">50条</option>
	</select>
	<div>共<b>{{page.totalRows}}</b>条记录</div>
</nav>
















