<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="1" status="ERROR" strict="true" name="LogConfig">
    <Properties>
        <Property name="logbasedir">logs</Property>
        <Property name="log.layout">%d %-5p %t (%c:%L) - %m%n</Property>
    </Properties>
    
    <!--   此处使用了两种类型的appender,RollingFile为滚动类型,满足策略条件后会新建文件夹记录 -->
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Target>SYSTEM_OUT</Target>
            <Layout type="PatternLayout" pattern="${log.layout}"/>
        </Appender>
        <Appender type="RollingFile" name="FILE" fileName="${logbasedir}/terminal.log"
             filePattern = "${logbasedir}/terminal-%d{yyyy-MM-dd}.%i.log">
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
            <Layout type="PatternLayout">
                <Charset>UTF-8</Charset>
                <Pattern>${log.layout}</Pattern>
            </Layout>
        </Appender>
        
        <Appender type="RollingFile" name="heartbeatAppender" fileName="${logbasedir}/heartbeat.log"
                  filePattern = "${logbasedir}/heartbeat.%i.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
            <Layout type="PatternLayout">
                <Charset>UTF-8</Charset>
                <Pattern>%d - %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="heartbeatLogger" level="info" additivity="false">
            <AppenderRef ref="heartbeatAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <!-- 
        <Logger name="com.garfield.learn" level="debug"/>
        <Logger name="com.garfield.learnp" level="info"/>
         -->
    </Loggers>

</Configuration>