
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>

<link rel="stylesheet" th:href="@{/static/cdn/font-awesome/css/font-awesome.min-4.7.0.css}"/>
<link rel="stylesheet" th:href="@{/static/menu/system-menu.css}"/>

</head>
<body>

<div id="menuDiv" v-if="menuShow">
	<ul id="accordion" class="accordion" v-cloak>
	<li v-for="f in menu" :class="f.s=='1'?'open':''">
		<div class="link" @click="onFolder(f)">
			<i :class="'fa fa-folder'+(f.s=='1'?'-open':'')"></i>{{f.t}}<i class="fa fa-chevron-down"></i>
		</div>
		<ul class="submenu" :style="'display:'+(f.s==1?'block':'')">
			<li v-for="m in f.c" @click="onMenu(m)"><a :class="m.s==1?'menu-selected':''" href="#">{{m.t}}</a></li>
		</ul>
	</li>
	</ul>
</div>


<div style="width:100%">

<div id="topDiv" style="display: flex;align-items:center;">
	<a :class="'fa fa-chevron-'+(menuVue.menuShow?'left':'right')" style="padding:0px 20px;" @click="toggleMenu()" href="javascript:"></a>
	<span>帐号：</span><span>TEST</span>
	<span style="margin-left:20px">用户名称：</span><span>TEST</span>
	
	<a href="javascript:" @click="index()" style="margin-left:20px">首页</a><span>｜</span>
	<a href="javascript:" @click="editPassword()">修改密码</a><span>｜</span>
    <a href="javascript:" @click="logout()">退出</a>&nbsp;&nbsp;
</div>

<!-- http://localhost:8081/exceed/exceed -->

<iframe id="content" src="http://localhost:8081/exceed/exceed" style="" onload=""></iframe>
<div id="iframeLoading">请稍候...</div>

</div>

<script type="text/javascript" th:inline="javascript">

var menu = [{id:1,t:'发布管理',s:1,c:[{id:2,t:'发布代码',s:0}]},
	{id:3,t:'发版相关信息',s:0,c:[{id:4,t:'越权测试1',s:0},{id:5,t:'越权测试2',s:0}]},
	{id:10,t:'发版相关信息',s:0,c:[{id:11,t:'越权测试1',s:0},{id:12,t:'越权测试2',s:0}]}
	]

var menuVue = new Vue({el:'#menuDiv', data:{menu:menu, selectedMenu:{}, menuShow:true},
	methods:{
		onMenu:function(m) {
			this.selectedMenu.s = 0;
			this.selectedMenu = m;
			m.s = 1;
		},
		onFolder:function(f) {
			for (var i = 0; i < this.menu.length; i++) {
				if (this.menu[i].id != f.id) {
					this.menu[i].s = 0;
				}
			}
			f.s = (f.s == 1 ? 0 : 1);
		}
	}
});

new Vue({el:'#topDiv',
	methods:{
		toggleMenu:function() {
			menuVue.menuShow = (menuVue.menuShow) ? false : true;
		},
		index:function() {
			alert("index");	
		},
		editPassword:function() {
			alert("editPassword");	
		},
		logout:function() {
			if (!confirm("确定退出?")) return;
			alert("logout");
		}
	}
});

</script>
</body>
</html>


