<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
</head>
<script type="text/javascript" th:inline="javascript">
var vm;
var form;
var result;
window.onload = function() {
	myForm = new Vue({
	    el:'#myForm',
	    data:{
	    	tableName:'',
	    	colVal:[],
	    	colList:[]
	    }
	});
	result = new Vue({
	    el:'#result',
	    data:{
	    	title:[],
	        list:[],
		    dict:{},
		    type:{},
		    sql:{}
	    }
	});
}

function tableChange(obj) {
	let param = new FormData();
	param.append('tableName', obj.value);
    axios.post(contextPath + "dbTool/listColumn", param).then(function(res) {
    	myForm.colList = res.data.list;
    	result.dict = res.data.dict;
    	result.type = res.data.type;
    	result.sql = res.data.sql;
    });
}

function getDictText(name, val) {
	if (!dict[name]) return val;
	for (i in dict[name]) {
		var item = dict[name][i];
		if (item["v"] == val) return item["t"];
	}
}

function exec() {
	let param = new FormData();
	param.append('tableName', myForm.tableName);
	
	if (myForm.colVal[myForm.colVal.length - 1] == '操作') {
		myForm.colVal.splice(myForm.colVal.length - 1, myForm.colVal.length - 1);
	}
	param.append('colVal', myForm.colVal);
	// alert(Qs.stringify({a:'abc', b:'efg'}));
    axios.post(contextPath + "dbTool/listValue", param).then(function(res) {
    	result.title = myForm.colVal;
    	result.title.push("操作");
    	res.data.list.forEach(function(o, i) {
    		var id = "";
    		for (item in o) {
    			id = (id == "") ? o[item] : id;
    		}
    		o["action"] = id;
    	})
    	
    	result.list = res.data.list;
    });
}


function edit(id) {
	alert(id);
}

//  number date text action select sql
function getTdType(key) {
	// timestamp
	if (result.type[key] == "timestamp") {
		return "timestamp";
	}
	
	if (result.sql[key]) {
		return "sql";
	}
	
	// decimal int
	if (result.type[key] == "decimal" || result.type[key] == "int") {
		return "number";
	}
	
	if (result.type[key] == "date") {
		return "date";
	}
	if (result.dict[key]) {
		return "select";
	}
	if (key == "action") {
		return "action";
	}
	return "text";
}

</script>

<style type="text/css">
.numberInput {min-width:80px;width:80px;}
.dateInput {min-width:120px;width:120px;}
.timestampSpan {min-width:100px;width:100px;}
</style>
</head>
<body>

<input type="number">

<form id="myForm">
表:
<select id="table" v-model="tableName" onchange="tableChange(this)" >
	<option value="">请选择</option>
	<option th:each="item: ${tableList}" th:value="${item.value}" th:text="${item.text}"></option>
</select>
字段:
<select id="column" multiple="multiple" v-model="colVal" style="height:100px">
	<option v-for="item in colList" :value="item.value">{{item.text}}</option>
</select>
<button type="button" onclick="exec()">执行</button>
</form>


<table id="result">
<tr>
	<th v-for="item in title">{{item}}</th>
</tr>
<tr v-for="item in list">
	<td v-for="(v, k) in item">
		<span v-if="getTdType(k) == 'sql'" class="sqlSpan">{{v}}</span>
	
		<span v-if="getTdType(k) == 'timestamp'" class="timestampSpan">{{v}}</span>
	
		<input v-if="getTdType(k) == 'number'" type="number" :name="k" :value="v" class="numberInput">
		
		
		
		
		<input v-if="getTdType(k) == 'text'" type="text" :name="k" :value="v">
		<input v-if="getTdType(k) == 'date'" type="date" :name="k" :value="v" class="dateInput">
		
		
		<select v-if="getTdType(k) == 'select'" :name="k" :value="v">
			<option v-for="item in dict[k]" :value="item.v">{{item.t}}</option>
		</select>
		<span v-if="getTdType(k) == 'action'">
			<a href="#this" @click="edit(v)">修改</a>
		</span>
	</td>
</tr>
</table>


</body>
</html>