<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
</head>
<script type="text/javascript" th:inline="javascript">
var vm;
var form;
var result;
window.onload = function() {
	myModal = modal("modal", null, function(pojo) {
		
	});

	
	myForm = new Vue({
	    el:'#myForm',
	    data:{
	    	tableName:'',
	    	colVal:[],
	    	colList:[]
	    }
	});
	result = new Vue({
	    el:'#result',
	    data:{
	    	title:[],
	        list:[],
		    dict:{},
		    type:{},
		    sql:{}
	    },
	    computed: {
	    	
	    },
	    methods: {
	    	getSqlVal:function(v) {
	    		var item = v.split(":");
	    		if (item.length >= 2) {
	    			return item[0];
	    		}
	    		return "";
	    	},
	    	getSqlName2:function(item, key) {
	    		return item[key + "__desc"];
	    		
	    		/*
	    		var item = v.split(":");
	    		if (item.length >= 2) {
	    			return item[1];
	    		}
	    		return "";*/
	    	}
	    }, 
	    watch: {
	    	list: {
	    		handler(newValue) {
	    		　　// alert("newValue:" + JSON.stringify(newValue))
	    		},
	    		deep: true
	    	}
	    }
	    
	});
	document.querySelectorAll(".blockTemplate").forEach(function(o, i) {o.style.display = "block";})
}

function tableChange(obj) {
	let param = new FormData();
	param.append('tableName', obj.value);
    axios.post(contextPath + "dbTool/listColumn", param).then(function(res) {
    	myForm.colList = res.data.list;
    	result.dict = res.data.dict;
    	result.type = res.data.type;
    	result.sql = res.data.sql;
    });
}

function getDictText(name, val) {
	if (!dict[name]) return val;
	for (i in dict[name]) {
		var item = dict[name][i];
		if (item["v"] == val) return item["t"];
	}
}

function getColName(colVal) {
	for (var i = 0; i < myForm.colList.length; i++) {
		var o = myForm.colList[i];
		if (o.value == colVal) {
			return o.text;
		}
	}
	
	myForm.colList.forEach(function(o, i) {
		if (o.value == colVal) {
			return o.text;
		} 
	})
}

function exec() {
	let param = new FormData();
	param.append('tableName', myForm.tableName);
	param.append('colVal', myForm.colVal);
    axios.post(contextPath + "dbTool/listValue", param).then(function(res) {
    	result.title = [];
    	myForm.colVal.forEach(function(o, i) {
    		result.title.push(getColName(o));
    	})
    	
    	// 添加一行用来新增
    	var newObj = {};
    	for (i in myForm.colVal) {
    		newObj[myForm.colVal[i]] = "";
    	}
    	res.data.list.push(newObj);
    	
    	res.data.list.forEach(function(o, i) {
    		var id = "";
    		for (item in o) {
    			id = (id == "") ? item : id;
    		}
    		o["action"] = {id:id, disabled:true};
    	})
    	
    	
    	
    	result.list = res.data.list;
    });
}



function selectSql(row, key) {
	myModal.row = row;
	myModal.key = key;
	
	var param = Qs.stringify({tableName:myForm.tableName, columnName:key});
    axios.post(contextPath + "dbTool/listSqlData", param).then(function(res) {
    	myModal.title = res.data.title;
    	myModal.list = res.data.list;
    	showModal('测试',  myModal);
    });
}

function sqlOk(item) {
	var id = "";
	var name = "";
	for (i in item) {
		name = id !== "" ? item[i] : name;
		id = id === "" ? item[i] : id;
	}
	
	var i = myModal.row;
	result.list[i][myModal.key] = id;
	result.list[i][myModal.key + "__desc"] = name;
	
	Vue.set(result.list, i, result.list[i]);
	myModal.modal.showModal = false;
	dataChange(myModal.row, myModal.key);
}


//  number date text action select sql
function getTdType(key) {
	
	if (result.type[key] == "timestamp") {
		return "timestamp";
	}
	
	if (result.sql[key]) {
		return "sql";
	}
	
	if (result.type[key] == "decimal" || result.type[key] == "int") {
		return "number";
	}
	
	if (result.type[key] == "date") {
		return "date";
	}
	if (result.dict[key]) {
		return "select";
	}
	if (key == "action") {
		return "action";
	}
	return "text";
}



function sqlQuery() {
	myModal.pojo.tableName = myForm.tableName;
	myModal.pojo.columnName = myModal.key;
	var param = Qs.stringify(myModal.pojo);
	axios.post(contextPath + "dbTool/listSqlData", param).then(function(res) {
    	myModal.list = res.data.list;
    	myModal.$forceUpdate();
    });
}


var needUpdate = {};
function dataChange(row, key) {
	if (!needUpdate[row]) {
		needUpdate[row] = [];
	}
	needUpdate[row].push(key);
	
	result.list[row]["action"].disabled = false;
}


function editOrAdd(id, row) {
	var rowObj = result.list[row];
	
	var pojo = {};
	pojo[id] = rowObj[id];
	pojo["tableName"] = myForm.tableName;
	needUpdate[row].forEach(function(o, i) {
		pojo[o] = rowObj[o];
	});
	var param = Qs.stringify(pojo);
	
	axios.post(contextPath + "dbTool/edit", param).then(function(res) {
    	if (res.data.code == 40000) {
    		exec();
    	}
    });
}

function get(v) {
	return v.indexOf('__desc') == -1
}

</script>

<style type="text/css">
.numberInput {min-width:80px;width:80px;}
.dateInput {min-width:120px;width:120px;}
.timestampSpan {min-width:100px;width:100px;}
</style>
</head>
<body class="blockTemplate">


<form id="myForm">
表:
<select id="table" v-model="tableName" onchange="tableChange(this)" >
	<option value="">请选择</option>
	<option th:each="item: ${tableList}" th:value="${item.value}" th:text="${item.text}"></option>
</select>
字段:
<select id="column" multiple="multiple" v-model="colVal" style="height:100px">
	<option v-for="item in colList" :value="item.value">{{item.text}}</option>
</select>
<button type="button" onclick="exec()">执行</button>
</form>


<table id="result">
<tr>
	<th v-for="item in title">{{item}}</th>
	<th>操作</th>
</tr>
<tr v-for="(item, row) in list">
	<td v-for="(v, k) in item" v-if="get(k)">
		<span v-if="getTdType(k) == 'sql'" class="sqlSpan">{{getSqlName2(item, k)}}
			<input type="text" v-model="item[k]">
			<a href="#this" @click="selectSql(row, k)">选择</a>
		</span>
	
		<span v-if="getTdType(k) == 'timestamp'" class="timestampSpan">{{v}}</span>
	
		<input v-if="getTdType(k) == 'number'" type="number" class="numberInput" v-model="item[k]"  @keyup="dataChange(row, k)">
		
		<input v-if="getTdType(k) == 'text'" type="text" v-model="item[k]" @keyup="dataChange(row, k)">
		
		<input v-if="getTdType(k) == 'date'" type="date" class="dateInput" v-model="item[k]" @change="dataChange(row, k)">
		
		<select v-if="getTdType(k) == 'select'" v-model="item[k]" @change="dataChange(row, k)">
			<option v-for="item in dict[k]" :value="item.v">{{item.t}}</option>
		</select>
		
		<span v-if="getTdType(k) == 'action'">
			<button @click="editOrAdd(v.id, row)" :disabled="v.disabled"><span v-if="item[v.id] == ''">新增</span><span v-if="item[v.id] != ''">修改</span></button>
		</span>
	</td>
</tr>
</table>


<div id="modal">
<modal v-if="modal.showModal" :modal="modal"  @ok="ok" @close="modal.showModal = false">

<div slot="body">
<div>
	<input type="text" v-model="pojo.queryVal" maxlength="32">
	<button @click="sqlQuery()">搜索</button>
</div>
<table>
	<tr>
		<th v-for="v in title">{{v}}</th>
		<th>操作</th>
	</tr>
	<tr v-for="item in list">
		<td v-for="v in item">{{v}}</td>
		<td><a href="#this" @click="sqlOk(item)">OK</a></td>
	</tr>
</table>
</div>
</modal>
</div>





</body>
</html>