
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta th:fragment="mobile" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<script type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script type="text/javascript" th:src="@{/static/cdn/jquery.min-3.3.1.js}"></script>

<script type="text/javascript" th:inline="javascript">

$.ajaxSetup({
	error: function(r, textStatus, errorThrown) {
		alert("error:" + r.status + "|" + this.url);
	},
	complete: function(r, textStatus, errorThrown) {
	    var code = JSON.parse(r.responseText).code;
		if (code != 0) {
			alert(r.responseText);
		}
	}
});

$(function() {
	go();
})

function go() {
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	
	$.post(contextPath + "cellTool/listCell", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		var c = $("#cellTable");
		var cellMap = [];
		for (var i = 0; i < r.list.length; i++) {
			var cellId = r.list[i].cell_id;
			cellMap[cellId] = r.list[i];
		}
		var n = $("#newCellTable");
		n.html("");
		for (var i = 0; i < r.rowList.length; i++) {
			n.append('<tr>');
			for (var j = 0; j < r.columnList.length; j++) {
				var cellId =  lockerNumber + r.rowList[i] + r.columnList[j];
				var obj = cellMap[cellId] ? cellMap[cellId] : {};
				var tdStr = '<a href="javascript:addCell(\'' + cellId + '\')">+</a>';
				var cellClass = 'emptyClass';
				if (obj.cell_id) {
					var action = '';
					var inputDisabled = '';
					if (obj.cell_set_status == 'INIT') {
						cellClass = 'initClass';
						action += '<a href="#this", onclick="editCell(this, \'' + obj.cell_id + '\')">[修改]</a>&nbsp;';
						action += '<a href="javascript:delCell(\'' + obj.cell_id + '\')">[删]</a>';
					}
					else if (obj.cell_set_status == 'EDIT') {
						cellClass = 'editClass';
						inputDisabled = 'disabled';
						action += '<a href="javascript:initCell(\'' + obj.cell_id + '\')">[置初始]</a>';
					}
					else if (obj.cell_set_status == 'LOCK') {
						cellClass = 'lockClass';
						inputDisabled = 'disabled';
					}
					else {
						inputDisabled = 'disabled';
					}
					tdStr = obj.cell_id + '<br><input ' + inputDisabled + ' class="cmd" type="text" maxlength="8" value="' + obj.cell_bit + '">' + action;
				}
				n.append('<td class="' + cellClass + '">' + tdStr + '</td>');
			}
			n.append('</tr>');
		}
	});
}

function addRow() {
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	$.post(contextPath + "cellTool/addRow", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		if (r.code === 0) go();
	})
}

function addColumn() {
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	$.post(contextPath + "cellTool/addColumn", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		if (r.code === 0) go();
	})
}

function delRow() {
	if (confirm("delete last row?") == false) return;
	
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	$.post(contextPath + "cellTool/delRow", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		if (r.code === 0) go();
	})
}

function delColumn() {
	if (confirm("delete last column?") == false) return;
	
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	$.post(contextPath + "cellTool/delColumn", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		if (r.code === 0) go();
	})
}

function delCell(cellId) {
	if (confirm("delete " + cellId + "?") == false) return;
	
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/delCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) go();
	})
}

function editCell(obj, cellId) {
	var openCode = $.trim($(obj).prev().val());
	if (openCode === "") {
		alert("开锁码不能为空");
		return;
	}
	
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/editCell", {clientId:clientId, cellId:cellId, openCode:openCode}, function(r) {
		if (r.code === 0) go();
	})
}

function initCell(cellId) {
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/initCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) go();
	})
}

function addCell(cellId) {
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/addCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) go();
	})
}

</script>

<style type="text/css">
body {font-size: 12px}
a, a:link, a:active{text-decoration:none;color:blue}

.cmd {width:65px;text-align: center;}
.initClass {text-align:center}
.emptyClass {text-align:center}
.editClass {text-align:center; background-color:orange;}
.lockClass {text-align:center; background-color:springgreen;}


#newCellTable td {width:130px}

</style>

</head>

<body>

<div>
client
<select id="clientId">
	<option value="007">007</option>
</select>
number
<select id="lockerNumber">
	<option value="A">A</option>
	<option value="B">B</option>
</select>
</div>

<button onclick="go()">GO</button>
<button onclick="addRow()">+ROW</button>
<button onclick="addColumn()">+COL</button>

<button onclick="delRow()">-ROW</button>
<button onclick="delColumn()">-COL</button>

<table id="newCellTable" border="1"></table>

</body>
</html>




