
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta th:fragment="mobile" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<script type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script type="text/javascript" th:src="@{/static/cdn/jquery.min-3.3.1.js}"></script>

<link rel="stylesheet" th:href="@{/static/terminal/cell/cell.css}">

<script type="text/javascript" th:inline="javascript">

$.ajaxSetup({
	error: function(r, textStatus, errorThrown) {
		alert("error:" + r.status + "|" + this.url);
	},
	complete: function(r, textStatus, errorThrown) {
	    var code = JSON.parse(r.responseText).code;
		if (code != 0) {
			alert(r.responseText);
		}
	}
});

$(function() {
	go();
})

function go() {
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	
	$.post(contextPath + "cellTool/listCell", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		var cellMap = [];
		for (var i = 0; i < r.list.length; i++) {
			var cellId = r.list[i].cell_id;
			cellMap[cellId] = r.list[i];
		}
		var cell = $("#cellTable");
		cell.html("");
		for (var i = 0; i < r.rowList.length; i++) {
			cell.append('<tr>');
			for (var j = 0; j < r.columnList.length; j++) {
				var cellId =  lockerNumber + r.rowList[i] + r.columnList[j];
				var obj = cellMap[cellId] ? cellMap[cellId] : {};
				var tdStr = '';
				var cellClass = '';
				if (obj.cell_id) {
					var action = '';
					var open = '';
					if (obj.cell_set_status == 'INI') {
						inputDisabled = '';
						cellClass = 'initClass';
					}
					else if (obj.cell_set_status == 'EDIT') {
						cellClass = 'editClass';
						open = '<a href="javascript:openCell(\'' + obj.cell_id + '\')">[开]</a>';
						action += '<a href="javascript:lockCell(\'' + obj.cell_id + '\')">[锁定]</a>';
					}
					else if (obj.cell_set_status == 'LOCK') {
						cellClass = 'lockClass';
						open = '<a href="javascript:openCell(\'' + obj.cell_id + '\')">[开]</a>';
						action += '<a href="javascript:unLockCell(\'' + obj.cell_id + '\')">[解锁]</a>';
					}
					tdStr = obj.cell_id + open + '<br><input disabled class="cmd" type="text" value="' + obj.open_code + '">' + action;
				}
				cell.append('<td class="' + cellClass + '">' + tdStr + '</td>');
			}
			cell.append('</tr>');
		}
	});
}

function openCell(cellId) {
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/openCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) {
			alert("OK");
		}
	})
}

function lockCell(cellId) {
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/lockCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) go();
	})
}

function unLockCell(cellId) {
	var clientId = $("#clientId").val();
	$.post(contextPath + "cellTool/unLockCell", {clientId:clientId, cellId:cellId}, function(r) {
		if (r.code === 0) go();
	})
}

</script>



</head>

<body>

<table border="1">
	<tr><td class="initClass">初始状态</td><td class="editClass">已修改状态</td><td class="lockClass">锁定状态</td></tr>
</table>

<div>
client
<select id="clientId" onchange="go()">
	<option value="007">007</option>
	<option value="008">008</option>
</select>
number
<select id="lockerNumber" onchange="go()">
	<option value="A">A</option>
	<option value="B">B</option>
</select>
</div>

<table id="cellTable" border="1"></table>

</body>
</html>








