

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta th:fragment="mobile" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<script type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script type="text/javascript" th:src="@{/static/cdn/jquery.min-3.3.1.js}"></script>



<script type="text/javascript" th:inline="javascript">

$.ajaxSetup({
	error: function(r, textStatus, errorThrown) {
		alert("error:" + r.status + "|" + this.url);
	}
});

$(function() {

})


function go() {
	
	var clientId = $("#clientId").val();
	var lockerNumber = $("#lockerNumber").val();
	
	$.post(contextPath + "cellTool/listCell", {clientId:clientId, lockerNumber:lockerNumber}, function(r) {
		var c = $("#cellTable");
		for (var i = 0; i < r.list.length; i++) {
			c.append('<tr>');
			c.append('<td>' + r.list[i].cell_id + '</td>');
			c.append('<td>' + r.list[i].cell_bit + '</td>');
			c.append('</tr>');
		}
	});
}




</script>
</head>

<body>

<div>
client
<select id="clientId">
	<option value="007">007</option>
</select>
number
<select id="lockerNumber">
	<option value="A">A</option>
	<option value="A">B</option>
</select>
</div>

<button onclick="go()">GO</button>
<table id="cellTable" border="1">

</table>

</body>
</html>








