<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
</head>



<script type="text/javascript" th:inline="javascript">

var list = [[${list}]];

window.onload = function() {
	page(list, "demo/list");
	var validate = function(pojo) {
		return {
			demoName:V.notNull(pojo.demoName),
			demoType:V.notNull(pojo.demoType) || V.isNum(pojo.demoType)
		}
	}
	myModal = modal("modal", validate, "demo/insertOrUpdate");
}

function edit(id) {
	editModal("修改", myModal, "demo/get", id);
}

function getDemoType(type) {
	// 改成一个统一方法
	var r = "";
	document.getElementById("dictType").querySelectorAll("option").forEach(function(o, i) {
		if (o.value == type) r = o.text;
	});
	return r;
}
</script>
<body>

<select id="dictType" th:fragment="dictType" style="display: none">
	<option value="0">type_0</option>
	<option value="2">type_2</option>
	<option value="3">type_3</option>
</select>

<div id="page">
	<div>
		<label class="title">我是标题</label>
		<button onclick="showModal('新增',  myModal)">新增</button>
		<input type="text" v-model="pojo.demoName" maxlength="32">
		<button @click="gotoPage(1)">搜索</button>
	</div>
	<table class="tableTemplate">
	<tr>
		<th class="active" @click="sortPage('demo_id', sortType['demo_id'])">DEMO_ID<span :class="sortType['demo_id']"></span></th>
		<th class="active" @click="sortPage('demo_name', sortType['demo_name'])">DEMO_NAME<span :class="sortType['demo_name']"></span></th>
		<th>DEMO_TYPE</th>
		<th>DEMO_DATE</th>
		<th>ACTIOLN</th>
	</tr>
	<tr v-for="item in list">
		<td>{{item.demoId}}</td>
		<td>{{item.demoName}}</td>
		<td>{{getDemoType(item.demoType)}}</td>
		<td>{{item.demoDate}}</td>
		<td><a href="#this" @click="edit(item.demoId)">修改</a></td>
	</tr>
	</table>
	<div th:replace="common/fragment::page"/>
</div>

<div id="modal" class="blockTemplate">
<modal v-if="modal.showModal" :modal="modal" :pojo="pojo" :validate="v" @ok="ok" @close="modal.showModal = false">
<table slot="body">
	<tr>
		<th style="width:100px">DEMO_NAME</th>
		<td><input type="text" v-model="pojo.demoName" maxlength="32"><span class="error">{{v.demoName}}</span></td>
	</tr>
	<tr>
		<th>DEMO_TYPE</th>
		<td>	
			<select v-model="pojo.demoType">
				<option th:include="::dictType"/>
			</select>
			<span class="error">{{v.demoType}}</span>
		</td>
	</tr>
	<tr>
		<th>DEMO_DATE</th>
		<td><input type="date" v-model="pojo.demoDate"><span class="error"></td>
	</tr>
</table>
</modal>
</div>

<div id="loading"><loading v-if="showLoading"></loading></div>
</body>
</html>

