<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
</head>
<script type="text/javascript" th:inline="javascript">
var list = [[${list}]];
window.onload = function() {
	page(list, "demo/list");
	var validate = function(pojo) {
		return {
			demoName:V.notNull(pojo.demoName),
			demoType:V.notNull(pojo.demoType) || V.isNum(pojo.demoType)
		}
	}
	myModal = modal("modal", validate, "demo/insertOrUpdate");
}

function edit(id) {
	editModal("修改", myModal, "demo/get", id);
}

</script>
<body>
<div id="page">
	<div>
		<label class="title">我是标题</label>
		<button onclick="showModal('新增', myModal)">新增</button>
		<input type="text" v-model="pojo.demoName" maxlength="32">
		<button @click="gotoPage(1)">搜索</button>
	</div>
	<table class="tableTemplate">
	<tr>
		<th class="active" @click="sortPage('demo_id', sortType['demo_id'])">DEMO_ID<span :class="sortType['demo_id']"></span></th>
		<th class="active" @click="sortPage('demo_name', sortType['demo_name'])">DEMO_NAME<span :class="sortType['demo_name']"></span></th>
		<th>DEMO_TYPE</th>
		<th>DEMO_DATE</th>
		<th>ACTIOLN</th>
	</tr>
	<tr v-for="item in list">
		<td>{{item.demoId}}</td>
		<td>{{item.demoName}}</td>
		<td>{{item.demoType}}</td>
		<td>{{item.demoDate}}</td>
		<td><a href="#this" @click="edit(item.demoId)">修改</a></td>
	</tr>
	</table>
	<div th:replace="common/fragment::page"/>
</div>


<div id="modal" class="blockTemplate">
<modal v-if="showModal" :pojo="pojo" @ok="ok" @close="showModal = false" :validate="validate" :title="title">
<h3 slot="title">{{title}}</h3>
<table slot="body">
	<tr>
		<th style="width:100px">DEMO_NAME</th>
		<td><input type="text" v-model="pojo.demoName" maxlength="32"><span class="error">{{validate.demoName}}</span></td>
	</tr>
	<tr>
		<th>DEMO_TYPE</th>
		<td><input type="text" v-model="pojo.demoType" maxlength="2"><span class="error">{{validate.demoType}}</td>
	</tr>
	<tr>
		<th>DEMO_DATE</th>
		<td><input type="date" v-model="pojo.demoDate"><span class="error"></td>
	</tr>
</table>
</modal>
</div>
<div th:replace="common/fragment::commonDiv"/>
</body>
</html>

