<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<script type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>
<script type="text/javascript" th:src="@{/static/vue/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/static/vue/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/static/vue/qs.js}"></script>
<link rel="stylesheet" th:href="@{/static/terminal/demo/demo.css}">

<script type="text/javascript" th:inline="javascript">

var list = [[${list}]];


window.onload = function() {
	// register modal component
    Vue.component('modal', {
      template: '#modal-template'
    })
	new Vue({
        el: '#loading',
        data: {
          showModal: true
        }
      })
	
	var mySearch = new Vue({
	    el:'#mySearch',
	    data:{
	        pojo:{}
	    },
	    methods: {
	    	query:function() {
	    		pagination.gotoPage(1);
	    	}
	    }
	});
	
	var pageTable = new Vue({
	    el:'#myTable',
	    data:{
	        list:list.list,
	        sortType:[],
	        orderName:'',
	        orderType:''
	    },
	    methods: {
	    	sortPage:function(orderName, orderType) {
	    		orderType = (orderType == 'asc' ? 'desc' : 'asc');
	    		pageTable.sortType[orderName] = orderType;
	    		pageTable.orderName = orderName;
	    		pageTable.orderType = orderType;
	    		pagination.gotoPage(1);
	    	}
	    }
	});
	pagination = new Vue({
	    el:'#myPagination',
	    data:{
	    	totalNum:Math.ceil(list.page.totalRows/list.page.pageSize),
	    	totalRows:list.page.totalRows,
	    	pageNumber:list.page.pageNumber,
	    	pageSize:3
	    },
	    methods:{
	    	gotoPage:function(n) {
	    		mySearch.pojo.pageNumber = n;
	    		mySearch.pojo.orderName = pageTable.orderName;
	    		mySearch.pojo.orderType = pageTable.orderType;
	    		mySearch.pojo.pageSize = pageTable.pageSize;
	    		
	            axios.post(contextPath + "demo/list", Qs.stringify(mySearch.pojo)).then(function(res) {
	            	var r = res.data;
	            	pageTable.list = r.list;
	            	pagination.totalNum = Math.ceil(r.page.totalRows/r.page.pageSize);
	            	pagination.totalRows = r.page.totalRows;
	            	pagination.pageNumber = r.page.pageNumber;
	            });
	    	}
	    }
	});
}


</script>
<style>


</style>
</head>

<body>


<div id="mySearch">
<input type="text"v-model="pojo.demoName">
<button @click="query()">query</button>
</div>

<table id="myTable">
<thead>
	<tr>
		<th class="active" @click="sortPage('demo_id', sortType['demo_id'])">消息类型<span :class="sortType['demo_id']"></span></th>
		<th class="active" @click="sortPage('demo_name', sortType['demo_name'])">提醒方式<span :class="sortType['demo_name']"></span></th>
		<th>DEMO_TYPE</th>
	</tr>
</thead>
<tbody>
	<tr v-for="item in list">
		<td>{{item.demoId}}</td>
		<td>{{item.demoName}}</td>
		<td>{{item.demoType}}</td>
	</tr>
</tbody>
</table>
<nav id="myPagination" class="pagination">
	<ul>
		<li v-if="pageNumber != 1" @click="gotoPage(1)"><span>«</span>r</li>
		<li v-if="pageNumber - 2 >= 1" @click="gotoPage(pageNumber - 2)"><span>{{pageNumber - 2}}</span></li>
		<li v-if="pageNumber - 1 >= 1" @click="gotoPage(pageNumber - 1)"><span>{{pageNumber - 1}}</span></li>
		<li class="active"><span>{{pageNumber}}</span></li>
		<li v-if="pageNumber + 1 <= totalNum" @click="gotoPage(pageNumber + 1)"><span>{{pageNumber + 1}}</span></li>
		<li v-if="pageNumber + 2 <= totalNum" @click="gotoPage(pageNumber + 2)"><span>{{pageNumber + 2}}</span></li>
		<li v-if="pageNumber != totalNum" @click="gotoPage(totalNum)"><span>»</span></li>
	</ul>
	<select @change="gotoPage(1)" v-model="pageSize">
		<option value="3" selected="selected">3条</option><option value="10">10条</option><option value="50">50条</option>
	</select>
	<div>共<b>{{totalRows}}</b>条记录</div>
</nav>

<div id="loading">
<modal v-if="showModal">
</modal>
</div>

<script type="text/x-template" id="modal-template">
<div class="modal-mask">
<div class="modal-wrapper"><div class="modal-container"><div class="modal-header"><h3>custom header</h3></div> <div class="modal-body">
                  default body
                </div> <div class="modal-footer">
                  default footer
                  <button class="modal-default-button">
                    OK
           </button></div></div></div></div>
</div>
</script>

</body>

</html>

