<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
<script type="text/javascript" th:src="@{/static/vue/common/v-tool.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/showdown.min.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/highlight.pack.js}"></script>
<link rel="stylesheet" th:href="@{/static/tool/github-markdown.css}">
<link rel="stylesheet" th:href="@{/static/tool/github-gist.css}">

<style type="text/css">

</style>
<script type="text/javascript" th:inline="javascript">

var currentInput = null;
function upload(file) {
	var formData = new FormData();
	formData.append("mFile", file);
	let config = {headers:{"Content-Type":"multipart/form-data"}};
	axios.post(contextPath + "uploadImg/uploadFaq", formData, config).then(function(r) {
		var path = "/img/faq/" + r.list[0];
		
		var editorId = currentInput != null ? currentInput.id : "faqDescr";
		replaceSelection(editorId, "![](" + path + ")\r\n");
		form[editorId] = document.getElementById(editorId).value;
	})
}

var form;
window.onload = function() {
	// 截图，用Ctrl+V
	document.body.addEventListener('paste', function(e) {
		if (!e.clipboardData) return;
		
		for (var i = 0; i < e.clipboardData.items.length; i++) {
			var c = e.clipboardData.items[i];
          	var f = c.getAsFile();
          	if (f) {
				upload(f);
          	}
        }
	})
	
	form = new Vue({
	    el:'#faq',
	    data:{faqTitle:'', faqCategory:'TECH', faqTimeType:'LONG', faqDescr:"", sub:[],  faqAnswer:"", answerSub:[]},
	    computed:{
	    	faqDescrView:function() {
	    		return getMarkdown(this.faqDescr, this, 0);
	    	},
	    	faqAnswerView:function() {
	    		return getMarkdown(this.faqAnswer, this, 1000);
	    	}
	    },
	    methods: {
	    	refreshCode:function(id) {
	    		this.$nextTick(function () {
		    		const preEl = document.getElementById(id).querySelectorAll('code');
		    		preEl.forEach((el) => {
		    			hljs.highlightBlock(el)
		    		})
	    		})
	    	}
	    },
	    watch: {
	    	faqDescr(n, o) {this.refreshCode("faqDescrView")},
	    	sub(n, o) {this.refreshCode("faqDescrView")},
	    	faqAnswer(n, o) {this.refreshCode("faqAnswerView")},
	    	answerSub(n, o) {this.refreshCode("faqAnswerView")}
	    }
	})
}

var converter = new showdown.Converter();
function getMarkdown(html, obj, i) {
	html = html.replace(/<m>/g, function() {
		i++;
		return  '<a href="#this" onclick="more(' + i + ')">更多</a><span id="' + 'arrow' + i + '" class="leftArrow"></span>' +
			'<div id="' + 'div' + i + '" style="margin-top:-10px;margin-bottom:-10px;display:none">';
	});
	
	html = html.replace(/<mm>/g, function() {
		i++;
		return  '<a href="#this" onclick="more(' + i + ')">更多</a><span id="' + 'arrow' + i + '" class="rightArrow"></span>' +
			'<div id="' + 'div' + i + '" style="margin-top:-10px;margin-bottom:-10px;">';
	});
	
	html = html.replace(/<\/m>/g, '</div>');
	html = html.replace(/<\/mm>/g, '</div>');
	var len = (i >= 1000) ? obj.answerSub.length : obj.sub.length;
	for (var n = 1; n <= len; n++) {
		html = html.replace(new RegExp("<sub" + n + "/>", "g"), function() {
			if (i >= 1000) {
				return form.answerSub[n];
			}
			else {
				return form.sub[n];
			}
		});
	}
	
	return converter.makeHtml(html);
}

function more(i) {
	var arrowObj = document.getElementById("arrow" + i);
	var divObj = document.getElementById("div" + i);
	
	var direction = arrowObj.getAttribute("class");
	direction = direction == 'leftArrow' ? 'rightArrow' : 'leftArrow';
	arrowObj.setAttribute("class", direction);
	
	var display = divObj.style.display == 'none' ? '' : 'none';
	divObj.style.display = display;
}


function add() {
	form.sub.push('');
}

function del() {
	if (form.sub.length == 0) return;
	form.sub.splice(-1, 1);
}

function answerAdd() {
	form.answerSub.push('');
}

function answerDel() {
	if (form.answerSub.length == 0) return;
	form.answerSub.splice(-1, 1);
}

function ok() {
	
}
</script>
</head>
<body>

<table class="v-table" id="faq">
<tr>
	<th style="width:30px">Q</th><td><input class="v-text" type="text" style="width:504px;" maxlength="128" v-model="faqTitle"></td>
</tr>
<tr>
	<th>ATTR</th>
	<td>
		<select class="v-select" v-model="faqCategory">
			<option value="TECH">技术</option>
			<option value="BUSI">业务</option>
			<option value="BRAIN">头脑</option>
		</select>
		
		<select class="v-select" v-model="faqTimeType">
			<option value="LONG">长期</option>
			<option value="SHORT">短期</option>
		</select>
	</td>
</tr>
<tr>
	<th>DESCR</th>
	<td style="background-color: white;border-top:1px solid #ddd;border-bottom:1px solid #ddd">
		<div style="float:left">
			<div><textarea class="v-text" id="faqDescr" style="width:500px;height:180px" v-model="faqDescr" onfocus="currentInput=this;"></textarea></div>
			<div>
				<button class="v-button" onclick="add()">+</button>
				<button class="v-button" onclick="del()">-</button>
			</div>
			<div v-for="(item, index) in sub">
				<textarea class="v-text" style="width:500px;height:100px" rows="4" v-model="sub[index]"></textarea>
			</div>
		</div>
		<div id="faqDescrView" v-html="faqDescrView" class="markdown-body" style="margin-left:520px"></div>
	</td>
</tr>
<tr>
	<th>A</th>
	<td>
		<div style="float:left">
			<div><textarea class="v-text" id="faqAnswer" style="width:500px;height:180px" v-model="faqAnswer" onfocus="currentInput=this;"></textarea></div>
			<div v-for="(item, index) in answerSub">
				<textarea class="v-text" style="width:500px;height:100px" rows="4" v-model="answerSub[index]"></textarea>
			</div>
			<button class="v-button" onclick="answerAdd()">+</button>
			<button class="v-button" onclick="answerDel()">-</button>
		</div>
		<div id="faqAnswerView" v-html="faqAnswerView" class="markdown-body" style="margin-left:520px"></div>
	</td>
</tr>

<tr>
	<td colspan="2" style="text-align: center;">
		<button class="v-button" onclick="ok()">确定</button>
	</td>
</tr>
</table>





</body>
</html>