<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="common/fragment::base"/>
<script type="text/javascript" th:src="@{/static/tool/showdown.min.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/highlight.pack.js}"></script>
<link rel="stylesheet" th:href="@{/static/tool/github-markdown.css}">
<link rel="stylesheet" th:href="@{/static/tool/github-gist.css}">

<style type="text/css">

</style>
<script type="text/javascript" th:inline="javascript">

function upload(file) {
	var formData = new FormData();
	formData.append("mFile", file);
	let config = {headers:{"Content-Type":"multipart/form-data"}};
	axios.post(contextPath + "uploadImg/uploadFaq", formData, config).then(function(r) {
		var path = "/img/faq/" + r.list[0];
		
		var editorId = "contentInput";
		if (currentInput != null) {
			editorId = currentInput.id;
		}
		
		replaceSelection(editorId, "![](" + path + ")\r\n");
		
		if (editorId == "contentInput") {
			form.val = document.getElementById(editorId).value;
		}
		else {
			form.answerVal = document.getElementById(editorId).value;
		}
	})
}

var form;
window.onload = function() {
	// 截图，用Ctrl+V
	document.body.addEventListener('paste', function(e) {
		if (!e.clipboardData) return;
		
		for (var i = 0; i < e.clipboardData.items.length; i++) {
			var c = e.clipboardData.items[i];
          	var f = c.getAsFile();
          	if (f) {
				upload(f);
          	}
        }
	})
	
	form = new Vue({
	    el:'#faq',
	    data:{faqTitle:'', faqCategory:'TECH', faqTimeType:'LONG', val:"", sub:[], subLength:0, answerVal:"", answerSub:[], answerSubLength:0},
	    computed:{
	    	content:function() {
	    		return getMarkdown(this.val, this, 0);
	    	},
	    	answerContent:function() {
	    		return getMarkdown(this.answerVal, this, 1000);
	    	}
	    },
	    watch: {
	    	val(n, o) {
		    	this.$nextTick(function () {
		    		const preEl = document.getElementById("content").querySelectorAll('code');
		    		preEl.forEach((el) => {
		    			hljs.highlightBlock(el)
		    		})
	    		})
	    	},
	    	sub(n, o) {
	    		this.$nextTick(function () {
		    		const preEl = document.getElementById("content").querySelectorAll('code');
		    		preEl.forEach((el) => {
		    			hljs.highlightBlock(el)
		    		})
	    		})
	    	},
	    	answerVal(n, o) {
		    	this.$nextTick(function () {
		    		const preEl = document.getElementById("answerContent").querySelectorAll('code');
		    		preEl.forEach((el) => {
		    			hljs.highlightBlock(el)
		    		})
	    		})
	    	},
	    	answerSub(n, o) {
	    		this.$nextTick(function () {
		    		const preEl = document.getElementById("answerContent").querySelectorAll('code');
		    		preEl.forEach((el) => {
		    			hljs.highlightBlock(el)
		    		})
	    		})
	    	}
	    }
	})
}

var converter = new showdown.Converter();
function getMarkdown(val, obj, i) {
	var newVal = val.replace(/<m>/g, function() {
		i++;
		var arrowId = 'arrow' + i;
		var divId = 'div' + i;
		return  '<a href="#this" onclick="more(' + i + ')">更多</a><span id="' + arrowId + '" class="leftArrow"></span>' +
			'<div id="' + divId + '" style="margin-top:-10px;margin-bottom:-10px;display:none">';
	});
	
	newVal = newVal.replace(/<mm>/g, function() {
		i++;
		var arrowId = 'arrow' + i;
		var divId = 'div' + i;
		return  '<a href="#this" onclick="more(' + i + ')">更多</a><span id="' + arrowId + '" class="rightArrow"></span>' +
			'<div id="' + divId + '" style="margin-top:-10px;margin-bottom:-10px;">';
	});
	
	newVal = newVal.replace(/<\/m>/g, '</div>');
	newVal = newVal.replace(/<\/mm>/g, '</div>');
	var len = obj.subLength;
	if (i >= 1000) {
		len = obj.answerSubLength;
	}
	for (var n = 1; n <= len; n++) {
		newVal = newVal.replace(new RegExp("<sub" + n + "/>", "g"), function() {
			if (i >= 1000) {
				return form.answerSub[n];
			}
			else {
				return form.sub[n];
			}
		});
	}
	
	return converter.makeHtml(newVal);
}

function more(i) {
	var arrowObj = document.getElementById("arrow" + i);
	var divObj = document.getElementById("div" + i);
	
	var direction = arrowObj.getAttribute("class");
	direction = direction == 'leftArrow' ? 'rightArrow' : 'leftArrow';
	arrowObj.setAttribute("class", direction);
	
	var display = divObj.style.display == 'none' ? '' : 'none';
	divObj.style.display = display;
}
var currentInput = null;
function replaceSelection(id, text) {
	var editor = document.getElementById(id);
	if (!editor.setSelectionRange) return;
	
	var selectionStart = editor.selectionStart;
	var selectionEnd = editor.selectionEnd;
	var selectStr = editor.value.substring(selectionStart, selectionEnd);
	if (selectStr && selectStr.substring(selectStr.length - 1) == " ") {
		text += " ";
	}
	var leftStr = editor.value.substring(0, selectionStart);
	var rightStr = editor.value.substring(selectionEnd, editor.value.length);
	var selectStr = editor.value.substring(selectionStart, selectionEnd)
	editor.value = leftStr + text + rightStr;
    editor.focus();
}

function add() {
	form.subLength += 1;
}

function del() {
	if (form.subLength == 0) return;
	form.subLength -= 1;
}

function answerAdd() {
	form.answerSubLength += 1;
}

function answerDel() {
	if (form.answerSubLength == 0) return;
	form.answerSubLength -= 1;
}

function ok() {
	
}
</script>
</head>
<body>

<table class="v-table" id="faq">
<tr>
	<th style="width:30px">Q</th><td><input class="v-text" type="text" style="width:504px;" maxlength="128" v-model="faqTitle"></td>
</tr>
<tr>
	<th>ATTR</th>
	<td>
		<select class="v-select" v-model="faqCategory">
			<option value="TECH">技术</option>
			<option value="BUSI">业务</option>
			<option value="BRAIN">头脑</option>
		</select>
		
		<select class="v-select" v-model="faqTimeType">
			<option value="LONG">长期</option>
			<option value="SHORT">短期</option>
		</select>
	</td>
</tr>
<tr>
	<th>DESCR</th>
	<td style="background-color: white;border-top:1px solid #ddd;border-bottom:1px solid #ddd">
		<div style="float:left">
			<div><textarea class="v-text" id="contentInput" style="width:500px;height:180px" v-model="val" onfocus="currentInput=this;"></textarea></div>
			<div>
				<button class="v-button" onclick="add()">+</button>
				<button class="v-button" onclick="del()">-</button>
			</div>
			<div v-for="index of subLength">
				<textarea class="v-text" :id="'sub' + index" style="width:500px;height:100px" rows="4" v-model="sub[index]"></textarea>
			</div>
		</div>
		<div id="content" v-html="content" class="markdown-body" style="margin-left:520px"></div>
	</td>
</tr>
<tr>
	<th>A</th>
	<td>
		<div style="float:left">
			<div><textarea class="v-text" id="answerContentInput" style="width:500px;height:180px" v-model="answerVal" onfocus="currentInput=this;"></textarea></div>
			<div v-for="index of answerSubLength">
				<textarea class="v-text" :id="'answerSub' + index" style="width:500px;height:100px" rows="4" v-model="answerSub[index]"></textarea>
			</div>
			<button class="v-button" onclick="answerAdd()">+</button>
			<button class="v-button" onclick="answerDel()">-</button>
		</div>
		<div id="answerContent" v-html="answerContent" class="markdown-body" style="margin-left:520px"></div>
	</td>
</tr>

<tr>
	<td colspan="2" style="text-align: center;">
		<button class="v-button" onclick="ok()">确定</button>
	</td>
</tr>
</table>





</body>
</html>