body {font-size: 12px}
a, a:link, a:active{text-decoration:none;color:blue}

.cmd {width:65px;text-align: center;}
.initClass {text-align:center; background-color:#DCDCDC;}
.emptyClass {text-align:center}
.editClass {text-align:center; background-color:#F0E68C;}
.lockClass {text-align:center; background-color:springgreen;}
#cellTable td {width:120px}

